@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
    text-align: center;
}

#app {
    margin: auto;
    display: flex;
    justify-content: center;
}

#toolbox {
    border: 1px solid gray;
    margin-right: 1%;
}

#canvas {
    border: 1px solid black;
}
